<form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">

    <div>
        <input type="text" 
        class="form-control my-2" 
        placeholder="Name" 
        id="name" 
        name="name" 
        [(ngModel)]="product.name" 
        #name="ngModel"
        required
        minlength="5">
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.['required']" class="text-danger">
                El nombre es requerido
            </div>
            <div *ngIf="name.errors?.['minlength']" class="text-danger">
                El nombre debe tener al menos 5 caracteres
            </div>
        </div>
    </div>
    <div>
        <input type="text" 
        class="form-control my-2" 
        placeholder="Description" 
        id="description" 
        name="description" 
        [(ngModel)]="product.description" 
        #description="ngModel"
        required
        minlength="10">
        <div *ngIf="description.invalid && (description.dirty || description.touched)">
            <div *ngIf="description.errors?.['required']"    class="text-danger">
                La descripción es requerida
            </div>
            <div *ngIf="description.errors?.['minlength']" class="text-danger">
                La descripción debe tener al menos 10 caracteres
            </div>
        </div>
    </div>
    <div>
        <input type="number" 
        class="form-control my-2" 
        placeholder="Price" 
        id="price" 
        name="price" 
        [(ngModel)]="product.price" 
        #price="ngModel"
        required min="5">
        <div *ngIf="price.invalid && (price.dirty || price.touched)">
            @if(price.errors?.['required']){
                <div class="alert alert-danger">
                    El precio es requerido
                </div>
            }@else if(price.errors?.['min']){
                <div class="alert alert-danger">
                    El precio debe ser mayor a 5
                </div>
            }
        </div>
    </div>
    <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary my-2">{{product.id > 0 ? 'Actualizar' : 'Crear'}}</button>
    <button type="button" class="btn btn-success my-2 mx-2" (click)="onNewProduct()">Nuevo</button>

</form>
