<form (ngSubmit)="onSubmit()">

    <div>
        <input type="text" class="form-control my-2" placeholder="Name" id="name" name="name" [(ngModel)]="product.name">
    </div>
    <div>
        <input type="text" class="form-control my-2" placeholder="Description" id="description" name="description" [(ngModel)]="product.description">
    </div>
    <div>
        <input type="number" class="form-control my-2" placeholder="Price" id="price" name="price" [(ngModel)]="product.price">
    </div>
    <button type="submit" class="btn btn-primary my-2">{{product.id > 0 ? 'Actualizar' : 'Crear'}}</button>

</form>
