<h2>Listado de Productos</h2>

<product-form (newProductSubmit)="addProduct($event)"></product-form>

@if(products.length > 0){
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @for(product of products; track product.id){
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                </tr>
            }
        </tbody>
    </table>

} @else {

    <div>Lo sentimos no hay registros en el sistema!</div>

}
